<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pdmhuerto">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Parse.HuertoApplication"
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.AgregarHuerto_Activity"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".Activities.Element_Activity" />
        <activity
            android:name=".Activities.PopUpInfo_Activity"
            android:theme="@style/AppTheme.PopUpActivities" />
        <activity android:name=".Activities.Relacion_Usuario_Activity" />
        <activity android:name=".Activities.Register2_Activity" />
        <activity android:name=".Activities.Register_Activity" />
        <activity android:name=".Activities.Navigation_Activity" />
        <activity android:name=".Activities.Login_Activity" />
        <activity android:name=".Activities.Post_Activity" />
        <activity android:name=".Activities.Start_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>