<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pdmhuerto">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Parse.HuertoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.Semillas_Activity"></activity>
        <activity
            android:name=".Activities.PopUpInfo_Activity"
            android:theme="@style/AppTheme.PopUpActivities"></activity>
        <activity android:name=".Activities.Relacion_Usuario_Activity" />
        <activity android:name=".Activities.Register2_Activity" />
        <activity android:name=".Activities.New_Event_Activity" />
        <activity android:name=".Activities.Day_Activity" />
        <activity android:name=".Activities.Detail_Activity" />
        <activity android:name=".Activities.Register_Activity" />
        <activity android:name=".Activities.Navigation_Activity" />
        <activity android:name=".Activities.Login_Activity" />
        <activity android:name=".Activities.Post_Activity" />
        <activity android:name=".Activities.Start_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>